# Computer Vision
ultralytics>=8.2.0
opencv-python>=4.8.0
mediapipe>=0.10.14
numpy>=1.24.0,<2.0
 

# Audio Processing
sounddevice==0.4.6

# System Monitoring
pyperclip
pynput

# Database
pymongo


# Web Framework
flask
flask_socketio
flask_cors
python-socketio

# Utilities
python-dotenv==1.0.0

pybind11>=2.12

